.task {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 5px 5px 5px;
  padding: 2% 2%;
  margin-bottom: 2%;
}

.task .left-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.task .right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
  padding-right: 5px;
}

.task-title {
  font-size: 16px;
  font-weight: 400;
  margin-left: 3%;
  color: #777777;
}

.task .status-icon {
  width: 7%;
}

.task a {
  height: 80%;
}

.task .dropdown-icon {
  height: 20px;
  margin: 10% 0;
  margin-right: 15px;
}

.task .trash-icon {
  height: 20px;
  margin: 10% 0;
  margin-left: 15px;
}
