.task {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 5px 5px 5px;
  padding: 2% 2%;
  margin-bottom: 2%;
  box-shadow: 1px 1px 5px 2px rgb(128 128 128 / 21%);
  border: 1px solid #ddd;
}

.task .left-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.task .right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding-right: 5px;
}

.task-title {
  font-size: 14px;
  font-weight: 400;
  margin-left: 3%;
  color: #000;
}

.task .status-icon {
  width: 7%;
}

.task a {
  display: inline-flex;
}

.task .edit-icon {
  height: 20px;
  margin: 10% 0;
}

.task .trash-icon {
  height: 20px;
  margin: 10% 0;
}

.completed {
  text-decoration: line-through;
  color: #bdbdbd;
}

.time {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}
