.dashboard {
  height: 100vh;
}

.header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  padding: 3%;
  position: relative;
}

.header-title {
  font-weight: 500;
}

.dashboard-body {
  border-top: 1px solid #eee;
  display: flex;
  height: 93vh;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.footer .icon {
  width: 50px;
}
