.calendar {
  padding: 3% 5px;
  border-top: 1px solid #eee;
}

.calendar-tile {
  min-width: 14.2857%;
  max-width: 14.2857%;
  padding: 5% 0;
  border: 1px solid white;
  font-size: 1em;
  background-color: slateblue;
  color: white;
}

.today {
  background-color: #5084e1;
}

.weekdays {
  margin: 8px 0;
}

.weekday {
  min-width: 14.2857%;
  max-width: 14.2857%;
  text-align: center;
  display: inline-block;
}
