.edit {
  width: 100vw;
  height: 100vh;
}

.edit-content {
  background-color: #fff;
  border-radius: 5px;
}

.edit-header {
  padding: 10px 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.edit-title {
  font-weight: 500;
}

.edit-body {
  height: 40vh;
  padding: 20px 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  position: relative;
}

.edit-form {
  height: 100%;
}

.edit-input-label {
  font-size: 15px;
  color: #7a7a7a;
}

.edit-input {
  width: 94%;
  height: 30%;
  margin: 20px 3%;
  border-bottom: 1px solid rgb(204, 204, 204);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 17px;
  outline: none;
  color: rgb(70, 70, 70);
}

.edit-button {
  border: none;
  background-color: slateblue;
  width: 100%;
  padding: 10px 0;
  font-size: 17px;
  color: #fff;
  width: 100%;
}

.close-icon {
  width: 7%;
  position: absolute;
  right: 10px;
}
